.container {
    width: 600px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    background-color: rgb(43, 146, 160);
    padding: 10px;
    border-style: solid;
  }
  
  .poster {
    max-width: 200px;
    max-height: 350px;
    border-style: solid;
    border-color: rgb(216, 212, 212);
    border-width: 20px;
  }
  
  .infosection {
    flex-grow: 5;
    padding: 15px;
  }
  strong{
      color:black;
  }
  ul{
      color: black;
  }
  h1{
      color: black;
      text-align: center;
  }
  u{
      color: black;
  }
  .stars span {
    color: white;
    user-select: none;
    cursor: pointer;
    font-size: 15px;
  }
  
  .stars .filled {
    color: rgb(255, 251, 41);
  }
 